.section {
    background-color: white;
    margin: 20px 10px;
    box-shadow: 0 0 5px #ddd;
}

.section__title {
    font-size: 20px;
    margin: 0;
}

.section__list {
    border: 1px solid #ddd;
    padding: 20px;
}

.section__header {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}