.section {
    background-color: white;
    margin: 20px 10px;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    font-size: 20px;
    border: 1px solid #ddd;
    margin: 0;
    padding: 20px;
}

.section__list {
    border: 1px solid #ddd;
    padding: 20px;
}