.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasks__element {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tasks__button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 1s;
}

.tasks__button--toggleDone {
    background: hsl(120, 100%, 25%);
    border: none;
}

.tasks__button--toggleDone:hover {
    background: hsl(120, 100%, 30%);
    border: none;
}

.tasks__button--toggleDone:active {
    background: hsl(120, 100%, 35%);
    border: none;
}

.tasks__button--remove {
    background: hsl(0, 100%, 50%);
    border: none;
}

.tasks__button--remove:hover {
    background: hsl(0, 100%, 55%);
    border: none;
}

.tasks__button--remove:active {
    background: hsl(0, 100%, 60%);
    border: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__element--hidden {
    display: none;
}